@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

body {
	background-color: #88938A;
	color: #fff;
	background-color: #ebebeb;
	color: #212121;
    font: 400 16px/24px Roboto, 'Montserrat', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.events-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1280px;
	margin: 0 auto;
}

.event {
	margin: 0 0 20px 0;
	flex-grow: 1;
}

.event__image {
	width: 264px;
    height: 132px;
    object-fit: cover;
}

/* */

.site__header {
	height: 50px;
	position: fixed;
    transform: translateZ(0);
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    position: static;
    top: 0;
    width: 100%;
    z-index: 10005;
}

.site__header::after {
	content: '';
	display: block;
	width: 100%;
	height: 50px;
}

.site-header__wrapper {
    border-bottom: 1px solid #bdbdbd;
    position: relative;
    top: 0;
    transform: translateZ(0);
	height: 100%;
    width: 100%;
    z-index: 10006;
	overflow: hidden;
}

.site__title {
	margin: 0;
	padding: 12px 10px;
	height: 100%;
}

.devsite-landing-row-column, 
.devsite-landing-row-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0;
    flex: 1 0;
    -ms-flex-direction: column;
    flex-direction: column;
}

.events__container {
	padding: 40px 120px;
	clear: both;
}

.event.items--row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0;
    flex: 1 0;
    -ms-flex-direction: row;
    flex-direction: row;
}

.event__images {
    -ms-flex-item-align: start;
    align-self: flex-start;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0 0 32px;
    width: 100%;
	-ms-flex-item-align: start;
    align-self: flex-start;    
	margin: 0;
    -ms-flex-order: 2;
    order: 2;
	-ms-flex-order: 1;
    order: 1;
	width: calc((100% - 80px)/3);
	background: green;
}

.event__images img {
	vertical-align: middle;
    width: 100%;
}

.event__info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 1px;
	-ms-flex-order: 2;
    order: 2;
    margin: 0 0 0 40px;
}

.event__title {
	color: #039be5;
    margin: 0;
	font: 600 22px/30px  Roboto, 'Montserrat', sans-serif;
}

.event__date,
.event__location {
	display: inline-block;
	color: #212121;
}

.event__date {
	margin-right: 10px;
}

.MuiSvgIcon-root-1 {
	vertical-align: bottom;
	color: #757575;
}

.event__item-delete {
	width: 160px;
}
.event__btn-add_container {
    margin: 25px 0 0 120px;
    float: right;
    padding-right: 40px;
}

.event__btn-add_container::after {
	clear: both;
	display: block;
	content: "";
	float: none;
}

.event__item-add {
	color: #fff;
    background-color: #2196f3!important;
}

.modal__form-container {
	width: 100%;
	position: relative;
}

.modal__btn-close {
    position: absolute;
    top: 15px;
    right: 17%;
}

.event__form {
	width: 70%;
    margin: auto;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    border-radius: 3px;
    min-height: 50vh;
    padding: 50px;
    box-sizing: border-box;
}
.event__form > div {
	margin-bottom: 12px;
	color: #000;
}
.event__form label {
	margin-right: 20px;
}
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: rgba(0,0,0,0);
  filter: blur(3px);
  opacity: .2;
  transition: all .3s;
}

.backdrop:only-child {
  display: none;
}

#modal-root {
  position: relative;
  z-index: 999;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.modal {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site__footer {
	background: #303c42;
	color: #cfd8dc;
	font-size: 16px;
	line-height: 18px;
	padding: 10px;
	text-align: center;
}
